
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
$fa-font-path:        "../webfonts";



// Bootstrap

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
//@import "node_modules/admin-lte/dist/css/adminlte.css";
//@import "node_modules/admin-lte/dist/css/adminlte.css";
//@fortawesome/fontawesome-free

.navbar-laravel {
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
 }
 .router-link-exact-active{
    // background-color: green!important;
   //  color:#fff !important;
 }
.router-link-active{
   background-color: rgb(22, 134, 209)!important;
   color:#fff !important;

 }
 
 
 @media print {
     .nav.nav-tabs li:not(.active){
         display: none;
     }
     .invoice{
        padding: 10px 20px;
     }
 
     .invoice{
       background-position: center center;
       background-repeat: no-repeat;
 
    }
    .table-responsive table{
       background-color: green !important;
       color :indigo !important;
    }
    .router-link-exact-active{
       background-color: green !important;
       color:white;
    }
 
 }
 
 @page {
     margin: 0;
 }
 